MY_API_RESULTS_GOOGLE.json
badgewatch_frontend/.gitignore
badgewatch_frontend/package-lock.json
badgewatch_frontend/package.json
badgewatch_frontend/README.md
badgewatch_frontend/public/favicon.ico
badgewatch_frontend/public/index.html
badgewatch_frontend/public/logo192.png
badgewatch_frontend/public/logo512.png
badgewatch_frontend/public/manifest.json
badgewatch_frontend/public/robots.txt
badgewatch_frontend/src/App.css
badgewatch_frontend/src/App.js
badgewatch_frontend/src/App.test.js
badgewatch_frontend/src/index.css
badgewatch_frontend/src/index.js
badgewatch_frontend/src/logo.svg
badgewatch_frontend/src/serviceWorker.js
badgewatch_frontend/src/setupTests.js
